*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFE1FF;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
    text-align: center;

}
button{
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7E60BF;
    

}
