*{
    margin: 0;
    padding: 0;
}
.calculadora{
    position: absolute;
    background-color: rgb(235, 221, 221);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(65, 129, 226);
    border: none;
    color: white;
}
.botao:hover{
    background-color: rgb(5, 8, 8);
}
#resultado{
    width: 200px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: rgba(21, 88, 233, 0.637);
    text-align: right;
    padding: 5px;
}
