body {
    background-image: linear-gradient(45deg, #D4F6FF, #F6FCDF);
    height: 100vh;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #62825D;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para as prioridades */
.prioridade-alta {
    color: #FF2929;
    font-weight: bold;
}

.prioridade-media {
    color: #FFE31A;
}

.prioridade-baixa {
    color: #EB5B00;
}

/* Tarefas concluídas */
.concluida {
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}
