.navbar{
    background-color: #9DBDFF;
    
}
.img1{

    width: 30%;
    display: inline-block;
    align-items: center;
}
.img2{
    width: 30%;
    display: inline-block;
    align-items: center;
}
.img3{
    width: 30%;
    display: inline-block;
    align-items: center;
}
.img4{
    width: 40%;
    display: inline-block;
    align-items: center;
    
}
.img5{
    width: 40%;
    display: inline-block;
    align-items: center;
}
.footer{
    background-color: #9DBDFF;

}
